<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="end">
      <ion-icon (click)="close()" size="large" name="close-outline"></ion-icon>
    </ion-buttons> -->
    <!-- <ion-title>{{ItemName}}</ion-title> -->
    <ion-title>Choose a Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="general-icon icon-size" [icon]="general"></fa-icon>
        <p>General</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="meat-icon icon-size" [icon]="meat"></fa-icon>
        <p>Meats</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="fish-icon icon-size" [icon]="fish"></fa-icon>
        <p>Fishes</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="dairy-icon icon-size" [icon]="dairy"></fa-icon>
        <p>Dairy</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="produce-icon icon-size" [icon]="produce"></fa-icon>
        <p>Produce</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="spices-icon icon-size" [icon]="spices"></fa-icon>
        <p>Spices</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="bakery-icon icon-size" [icon]="bakery"></fa-icon>
        <p>Bakery</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="frozen-icon icon-size" [icon]="frozen"></fa-icon>
        <p>Frozen</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="drinks-icon icon-size" [icon]="drinks"></fa-icon>
        <p>Drinks</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="hotDrinks-icon icon-size" [icon]="hotDrinks"></fa-icon>
        <p>Hot Drinks</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="alcohol-icon icon-size" [icon]="alcohol"></fa-icon>
        <p>Alcohol</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="snack-icon icon-size" [icon]="snack"></fa-icon>
        <p>Snacks</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="cleaning-icon icon-size" [icon]="cleaning"></fa-icon>
        <p>Cleaning</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="clothes-icon icon-size" [icon]="clothes"></fa-icon>
        <p>Clothes</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="medicine-icon icon-size" [icon]="medicine"></fa-icon>
        <p>Medicine</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="pet-icon icon-size" [icon]="pet"></fa-icon>
        <p>Pets</p>
      </ion-col>
      <ion-col class="text-center p-t-50" size="6">
        <fa-icon class="other-icon icon-size" [icon]="other"></fa-icon>
        <p>Other</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
