/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-class .popover-content {
  --width: 70vw;
  --height: 20vh;
}

.line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.p-t-50 {
  padding-top: 50px;
}

.icon-size {
  font-size: 5rem;
}

.meat-icon {
  color: red;
}

.fish-icon {
  color: blue;
}

.dairy-icon {
  color: yellow;
}

.produce-icon {
  color: orange;
}

.frozen-icon {
  color: lightblue;
}

.drinks-icon {
  color: turquoise;
}

.hotDrinks-icon {
  color: red;
}

.alcohol-icon {
  color: purple;
}

.bakery-icon {
  color: brown;
}

.snack-icon {
  color: pink;
}

.spices-icon {
  color: red;
}

.cleaning-icon {
  color: lightgrey;
}

.clothes-icon {
  color: brown;
}

.general-icon {
  color: green;
}

.medicine-icon {
  color: blue;
}

.pet-icon {
  color: brown;
}

.other-icon {
  color: gray;
}
