<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Simple Shopping
      <!-- <img src="../../assets/icon/logo.svg" alt=""> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list #slidingList>
    <ion-item-sliding (click)="toAddingItems(list); this.addItemsClicked = true" *ngFor="let list of listArray">
      <ion-item>
        <ion-label>{{list.listName}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="edit-button" (click)="editListName(list); this.addItemsClicked = false">
          <ion-icon size="large" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option class="delete-button" (click)="presentDeleteConfirm(list.ID); this.addItemsClicked = false">
          <ion-icon size="large" name="trash-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="closeList(); this.addItemsClicked = false">
          <ion-icon size="large" name="close-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addList()" color="light">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="listInput" placeholder="Enter text to add list..." maxlength="40" (keyup.enter)="addList()">
    </ion-input>
  </ion-toolbar>
</ion-footer>
